.container{
    width:1440px;
    margin:0 auto;
  }
  .navBox{
    width:100%;
    height:106px;
    position:relative;
  }
  .balckBg{
    width:100%;
    height:100px;
    background:#3e3a39;
    position:absolute;
    left:0;
    top:0;
  }
  .logo{
    left:71px;
    width:71px;
    height:64px;
    position:absolute;
    top:24px;
  }
  .lesson_tools{
    width:280px;
    height:36px;
    position:absolute;
    top:51px;
    left:254px;
    box-sizing:border-box;
  }
  .lesson_tip,.tool_tip{
    width:107px;
    height:30px;
    /*background:url(/images/lesson.png)no-repeat;
    background-size:cover;*/
    position:relative;
    top:50%;
    margin-top:-15px;
  }
  .tool_tip{
    width:110px;
    /*background:url(/images/tool_03.png)no-repeat;
    background-size:cover;*/
  }
  .lesson_tip span,.tool_tip span{
    width:93px;
    height:22px;
    font-size:20px;
    color:#9f9e9d;
    position:absolute;
    top:50%;
    margin-top:-11px;
    left:30px;
  }
  .onlineLesson{
    width:28px;
    height:28px;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-14px;
  }
  .onlineTool{
    width:33px;
    height:27px;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-13px;
  }
  .shortLine{
    width:3px;
    height:100%;
    background:#a3a2a1;
    margin-left:33px;
  }
  .log_reg_box{
    width:100px;
    height:20px;
    position:absolute;
    right:80px;
    top:56px;
  }
  .log_reg_box > a{
    width:48px;
    height:100%;
    display:block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    float:left;
    line-height:22px;
  }
  .log_reg_box > a:nth-of-type(1){
    border-right:2px solid #fff;
    text-align:left;
  }
  .log_reg_box > a:nth-of-type(2){
    text-align:right;
  }
  .black_bar{
    width:100%;
    height:18px;
    position:absolute;
    bottom:5px;
    left:0;
  }
  .yellowBar{
    width:100%;
    height:40px;
    background:#f8bf4b;
  }
  .main{
    width:100%;
    height:982px;
  }
  .videoLists{
    width:346px;
    height:100%;
    margin-top:2px;
  }
  .list_title{
    width:100%;
    height:96px;
    color:#fff;
    line-height:112px;
    background:#3e3a39;
    text-align:center;
    font-size:22px;
  }
  .list_title_box{
    width:344px;
    height:884px;
    border-right:2px solid #323232;
  }
  .little_title{
    width:100%;
    height:28px;
    font-size:18px;
    text-align:center;
    margin-bottom:54px;
    display:block;
  }
  .little_title1{
    margin-top:66px;
  }
  .little_title_active{
    color:#814b28;
  }
  .right_video_box{
    width:1094px;
    height:980px;
    background:url("/images/video1/bg1.png")no-repeat;
    margin-top:2px;
    background-size:cover;
    position:relative;
  }
  .sm_video_lists{
    width:924px;
    height:812px;
    position:absolute;
    left:67px;
    top:76px;
  }
  .videoName{
    width:100%;
    height:30px;
    font-size:22px;
    color:#814b28;
    text-align:left;
    display:block;
  }
  .sm_video_box{
    width:100%;
    height:638px;
    margin-top:20px;
  }
  .video_row_1,.video_row_2{
    width:926px;
    height:318px;
    border-top:1px solid #383737;
    border-bottom:1px solid #383737;
  }
  .video_row_2{
    border-top:none;
  }
  .videos{
    width:293px;
    height:256px;
    margin-top:33px;
    margin-left:11px;
    position:relative;
  }
  .videos_2{
    margin-left:19px;
  }
  .playBox{
    width:100%;
    height:210px;
  }
  .the_video_name{
    width:293px;
    height:25px;
    font-size:18px;
    line-height:25px;
    color:#3e3a39;
    text-align:center;
    display:block;
    position:absolute;
    left:0;
    bottom:0;
  }
  .flip_Page{
    width:325px;
    height:25px;
    position:absolute;
    bottom:93px;
    right:129px;
  }
  .flip{
    width:130px;
    height:25px;
    font-size:18px;
    color:#814b28;
    line-height:25px;
    display:block;
    text-decoration: none;
    cursor: pointer;
  }
  .footer{
    width:100%;
    height:136px;
    background:#f8bf4b;
  }
