body{
    overflow-x:hidden;
  }
  .container{
    width:1680px;
  }
  .navBox{
    width:100%;
    height:122px;
    position:relative;
  }
  .balckBg{
    width:100%;
    height:118px;
    background:#3e3a39;
    position:absolute;
    left:0;
    top:0;
  }
  .logo{
    left:83px;
    width:83px;
    height:73px;
    position:absolute;
    top:28px;
  }
  .lesson_tools{
    width:325px;
    height:42px;
    position:absolute;
    top:60px;
    left:296px;
    box-sizing:border-box;
  }
  .lesson_tip,.tool_tip{
    width:122px;
    height:33px;
    position:relative;
    top:50%;
    margin-top:-16px;
  }
  .lesson_tip span,.tool_tip span{
    width:93px;
    height:23px;
    font-size:23px;
    color:#9f9e9d;
    position:absolute;
    top:50%;
    margin-top:-11px;
    left:55px;
  }
  .lesson_tip span{
    left:48px;
  }
  .onlineLesson{
    width:32px;
    height:32px;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-16px;
  }
  .onlineTool{
    width:39px;
    height:32px;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-16px;
  }
  /*.lesson_tip{
    background:url(/images/lesson.png)no-repeat;
    background-size:100% 100%;
  }
  .tool_tip{
    width:130px;
    background:url(/images/tool_03.png)no-repeat;
    background-size:100% 100%;
  }*/
  .shortLine{
    width:3px;
    height:100%;
    background:#a3a2a1;
    margin-left:44px;
  }
  .log_reg_box{
    width:122px;
    height:26px;
    position:absolute;
    right:95px;
    top:67px;
  }
  .log_reg_box > a{
    width:60px;
    height:100%;
    display:block;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    float:left;
    line-height:26px;
    text-align:left;
  }
  .log_reg_box > a:nth-of-type(1){
    border-right:2px solid #fff;
  }
  .log_reg_box > a:nth-of-type(2){
    text-align:right;
  }
  .black_bar{
    width:100%;
    height:20px;
    position:absolute;
    bottom:5px;
    left:0;
  }
  .yellowBar{
    width:100%;
    height:47px;
    background:#f8bf4b;
  }
  .main{
    width:100%;
    height:1146px;
  }
  .videoLists{
    width:402px;
    height:100%;
    margin-top:3px;
  }
  .list_title{
    width:100%;
    height:112px;
    color:#fff;
    line-height:112px;
    background:#3e3a39;
    text-align:center;
    font-size:26px;
  }

  .list_title_box{
    width:400px;
    height:1030px;
    border-right:2px solid #323232;
  }
  .little_title{
    width:100%;
    height:35px;
    font-size:21px;
    text-align:center;
    margin-bottom:70px;
    display:block;
  }
  .little_title1{
    margin-top:90px;
  }
  .little_title_active{
    color:#814b28;
  }
  .right_video_box{
    width:1278px;
    height:1142px;
    background:url("/images/video1/bg1.png")no-repeat;
    margin-top:3px;
    background-size:cover;
    position:relative;
  }
  .sm_video_lists{
    width:1078px;
    height:950px;
    position:absolute;
    left:86px;
    top:78px;
  }
  .videoName{
    width:100%;
    height:34px;
    font-size:26px;
    color:#814b28;
    text-align:left;
    display:block;
  }
  .sm_video_box{
    width:100%;
    height:743px;
    margin-top:23px;
  }
  .video_row_1,.video_row_2{
    width:1080px;
    height:370px;
    border-top:1px solid #383737;
    border-bottom:1px solid #383737;
  }
  .video_row_2{
    border-top:none;
  }
  .videos{
    width:345px;
    height:297px;
    margin-top:36px;
    margin-left:13px;
    position:relative;
  }
  .videos_2{
    margin-left:22px;
  }
  .playBox{
    width:100%;
    height:246px;
  }
  .the_video_name{
    width:345px;
    height:25px;
    font-size:21px;
    line-height:25px;
    color:#3e3a39;
    text-align:center;
    display:block;
    position:absolute;
    left:0;
    bottom:0;
  }
  .flip_Page{
    width:406px;
    height:32px;
    position:absolute;
    bottom:109px;
    right:123px;
  }
  .flip{
    width:150px;
    height:32px;
    font-size:21px;
    color:#814b28;
    line-height:32px;
    display:block;
    text-decoration: none;
    cursor: pointer;
  }
  .footer{
    width:100%;
    height:158px;
    background:#f8bf4b;
  }
