.container{
  width:1920px;
  margin:0 auto;
}

.navBox{
  width:100%;
  height:140px;
  position:relative;
}

.balckBg{
  width:100%;
  height:133px;
  background:#3e3a39;
  position:absolute;
  left:0;
  top:0;
}

.logo{
  width:93px;
  height:83px;
  position:absolute;
  left:96px;
  top:33px;
}

.lesson_tools{
  width:370px;
  height:50px;
  position:absolute;
  top:70px;
  left:338px;
  box-sizing:border-box;
}

.lesson_tip,.tool_tip{
  width:140px;
  height:100%;
  position:relative;
  top:50%;
  margin-top:-25px;
  /*background:url(/images/lesson.png)no-repeat;
  background-size:100% 100%;*/
}

.tool_tip{
  width:150px;
  height:100%;
  /*background:url(/images/tool_03.png)no-repeat;
  background-size:100% 100%;*/
}

.lesson_tip span,.tool_tip span{
  width:93px;
  height:23px;
  font-size:23px;
  color:#9f9e9d;
  position:absolute;
  top:50%;
  margin-top:-11px;
  left:55px;
}

.onlineLesson{
  width:38px;
  height:36px;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-18px;
}

.onlineTool{
  width:44px;
  height:36px;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-18px;
}

.shortLine{
  width:3px;
  height:100%;
  background:#a3a2a1;
  margin-left:38px;
}

.log_reg_box{
  width:156px;
  height:30px;
  position:absolute;
  right:70px;
  top:86px;
}

.log_reg_box > a{
  width:76px;
  height:100%;
  display:block;
  font-size: 27px;
  color: #fff;
  text-decoration: none;
  float:left;
  line-height:30px;
}

.log_reg_box > a:hover{
  cursor:pointer;
}

.log_reg_box > a:nth-of-type(1){
  border-right:2px solid #fff;
}

.log_reg_box > a:nth-of-type(2){
  text-align:right;
}

/*.black_bar{
  width:100%;
  height:22px;
  position:absolute;
  bottom:6px;
  left:0;
}*/

.yellowBar{
  width:100%;
  height:54px;
  background:#f8bf4b;
}

.main{
  width:100%;
  height:1310px;
  overflow:hidden;
  background:url("/images/mmcodeBg.png")no-repeat;
  background-size:cover;
}

.videoLists{
  width:460px;
  height:100%;
  margin-top:4px;
  text-align:center;
}

.list_title{
  width:100%;
  height:130px;
  color:#fff;
  line-height:130px;
  background:#3e3a39;
  text-align:center;
  font-size:30px;
}

.list_title_box{
  width:458px;
  height:1182px;
  border-right:2px solid #323232;
  background:rgba(255,255,255,0.6);
}

.little_title{
  width:100%;
  height:29px;
  font-size:25px;
  text-align:center;
  margin-bottom:45px;
  display:block;
}

.little_title1{
  margin-top:70px;
}

.little_title_active{
  color:#814b28;
}

.backTo{
  width:132px;
  height:36px;
  color:#989696;
  line-height:36px;
  margin: 50px auto 0;
  text-decoration: none;
  font-size:25px;
}

.right_video_box{
  width:1460px;
  height:1316px;
  background:url("/images/video1/bg1.png")no-repeat;
  margin-top:4px;
  background-size:cover;
  position:relative;
}

.innerBox{
  width:1345px;
  height:876px;
  position:absolute;
  left:50%;
  margin-left:-672px;
  top:102px;
}

.storyName,.storyNum{
  width:100%;
  height:50px;
  line-height:50px;
  color:#3e3a39;
  display:block;
  text-align:center;
}

.storyName{
  font-size:30px;
}

.storyNum{
  font-size:25px;
  margin:24px auto 38px;
}

.playing_video{
  width:1150px;
  height:612px;
  margin:0 auto;
  overflow:hidden;
}

.video_iframe{
  width: 100%;
  height: -moz-calc(100% + 40px);
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
  position: relative;
}

.footer{
  width:1920px;
  height:180px;
  background:#f8bf4b;
}
