-var videodata = {season: [{"id": 1, "name": "猛犸学院 · 序章 — Scratch 3.0 入门课程", "episode": [{"id": 1, "name": "第一话", "image": "0101", "bilibili_id": 14598350}, {"id": 2, "name": "第二话", "image": "0102", "bilibili_id": 14769469}, {"id": 3, "name": "第三话", "image": "0103", "bilibili_id": 15767505}, {"id": 4, "name": "第四话", "image": "0104", "bilibili_id": 16714318}]}]}
